/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env-prod
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
_ide_helper.php
composer.lock
liftlog.iml
.idea
.phpstorm.meta.php
resources/js/react
